<section id="widget-grid">
  <!-- row -->
  <div class="row">

    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div id="wid-id-0" class="jarviswidget">
        <header>
          <h2>Chucky bot</h2>
        </header>
        <div>
          <div class="widget-body no-padding">
            <div class="control-buttons">
              <div class="btn-group">
                <%= link_to raw('<i class="fa fa-arrow-left"></i> Back'), chucky_bots_path, class: 'btn btn-sm btn-primary' if can?(:read, ChuckyBot) %>
                <%= link_to raw('<i class="fa fa-pencil"></i> Edit'), edit_chucky_bot_path(@chucky_bot), class: 'btn btn-sm btn-primary' if can?(:read, ChuckyBot) %>
              </div>
            </div>
            <div class="form-inputs">

              <div class="form-group">
                <label class="col-sm-3 control-label">underscore_model_name</label>

                <div class="col-sm-9">
                  <p class="form-control-static"><%= @chucky_bot.underscore_model_name %></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">i18n_singular_name</label>

                <div class="col-sm-9">
                  <p class="form-control-static"><%= @chucky_bot.i18n_singular_name %></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">i18n_plural_name</label>

                <div class="col-sm-9">
                  <p class="form-control-static"><%= @chucky_bot.i18n_plural_name %></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">authorization notes</label>

                <div class="col-sm-9">
                  <p class="form-control-static"><%= @chucky_bot.authorization[:notes] %></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">public_activity_notes</label>

                <div class="col-sm-9">
                  <p class="form-control-static"><%= @chucky_bot.public_activity[:notes] %></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">migrate</label>

                <div class="col-sm-9">
                  <p class="form-control-static"><%= boolean_check_mark(@chucky_bot.migrate) %></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">fields</label>

                <div class="col-sm-9">
                  <p class="form-control-static"><%#= @chucky_bot.fields %></p>

                  <p class="form-control-static"><%= link_to 'releer opciones de validación para no olvidar nada', 'http://guides.rubyonrails.org/active_record_validations.html#validation-helpers' %></p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">chucky_command</label>

                <div class="col-sm-9">
                  <p class="form-control-static"><%= @chucky_bot.chucky_command %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div id="wid-id-1" class="jarviswidget">
        <header>
          <h2>Details</h2>
        </header>
        <div>
          <div class="widget-body">
            <!-- content-->
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

