<section id="widget-grid">
  <div class="row">
    <article class="col-xs-12">
      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-table"></i></span>

          <div class="widget-toolbar filter-group">
            <%= link_to raw("<i class='fa fa-file'></i> #{t('simple_form.buttons.new')}"), new_project_activity_nomina_path, class: 'btn btn-primary' if (can? :create, ProjectActivityNomina) %>
            <a href="javascript:void(0)" data-target="#filter-wid-id-0" id="filtrar" role="button" class="filter-button btn <%= @filter_active ? 'btn-danger' : 'btn-primary' %>"><i class="fa fa-filter"></i> <%= @filter_active ? t('simple_form.buttons.filtering') : t('simple_form.buttons.filters') %>
            </a>
          </div>
        </header>
        <div class="no-padding">
          <div class="jarviswidget-editbox filter-zone" id="filter-wid-id-0" style="display:none;">
            <div class="col-xs-12"><%= search_form_for(@q, html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
                  <fieldset>
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12 spanning">
                        <label for="q[nro_trabajadores_gteq]"><%= t('simple_form.labels.defaults.nro_trabajadores') %></label>

                        <div class="input-group input-group-sm block">
                          <%= f.search_field :nro_trabajadores_gteq, label: false, placeholder: t('simple_form.placeholders.from'), class: "form-control input-sm" %>
                        </div>
                        <div class="input-group input-group-sm block">
                          <%= f.search_field :nro_trabajadores_lteq, label: false, placeholder: t('simple_form.placeholders.to'), class: "form-control input-sm" %>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[mes_cont]"><%= t('simple_form.labels.defaults.mes') %></label>
                        <%= f.search_field :mes_cont, label: false, class: "form-control input-sm" %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[comentarios_cont]"><%= t('simple_form.labels.defaults.comentarios') %></label>
                        <%= f.search_field :comentarios_cont, label: false, class: "form-control input-sm" %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[ascription_id_cont]"><%= t('simple_form.labels.ascription') %></label>
                        <%= f.select :ascription_id_eq, options_from_collection_for_select(Ascription.all, :id, :name, @q.ascription_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[project_nomina_id_cont]"><%= t('simple_form.labels.project_nomina') %></label>
                        <%= f.select :project_nomina_id_eq, options_from_collection_for_select(ProjectNomina.all, :id, :name, @q.project_nomina_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                      </div>
                    </div>
                    <div class="row pull-right">
                      <div class="col-sm-12">
                        <%= render 'shared/submit_filters' %>
                      </div>
                    </div>
                  </fieldset>
              <% end %>
            </div>
          </div>
          <div class="widget-body">
            <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
              <thead>
              <tr>
                <th class='all control'><%= sort_link(@q, :nro_trabajadores, t('simple_form.labels.defaults.nro_trabajadores')) %></th>
                <th><%= sort_link(@q, :mes, t('simple_form.labels.defaults.mes')) %></th>
                <th><%= sort_link(@q, :comentarios, t('simple_form.labels.defaults.comentarios')) %></th>
                <th><%= sort_link(@q, :ascription_name, t('simple_form.labels.defaults.ascription')) %></th>
                <th><%= sort_link(@q, :project_nomina_name, t('simple_form.labels.defaults.project_nomina')) %></th>
                <th class="all"><%= t('simple_form.screen.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% @project_activity_nominas.each do |project_activity_nomina| %>
                  <tr>
                    <td align='right'><%= project_activity_nomina.nro_trabajadores %></td>
                    <td><%= project_activity_nomina.mes %></td>
                    <td><%= project_activity_nomina.comentarios %></td>
                    <td><%= project_activity_nomina.ascription.try(:name) %></td>
                    <td><%= project_activity_nomina.project_nomina.try(:name) %></td>
                    <td class="table-actions">
                      <%= render 'shared/action_icons', locals: {target: project_activity_nomina} %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <div class="widget-footer">
              <%= render 'shared/pagination', locals: {target: @project_activity_nominas, model_index_path: project_activity_nominas_path} %>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

