<div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
  <header>
    <h2><%= creating? ? "<i class='fa fa-file'></i>".html_safe : "<i class='fa fa-pencil'></i>".html_safe %></h2>

    <% if creating? %>
        <div class='widget-toolbar hidden-xs'>
          <a href='<%= new_import_key_analyticals_path %>' role='button' class='btn btn-primary'><i class='fa fa-upload'></i>Carga
            masiva</a>
        </div>
    <% end %>

  </header>
  <div>
    <div class="widget-body">
      <%= simple_form_for @key_analytical.becomes(KeyAnalytical), html: {class: 'form-horizontal'},
                          wrapper: :horizontal_form,
                          wrapper_mappings: {
                                  check_boxes: :horizontal_radio_and_checkboxes,
                                  radio_buttons: :horizontal_radio_and_checkboxes,
                                  file: :horizontal_file_input,
                                  boolean: :horizontal_boolean
                          } do |f| %>
          <div class="form-inputs edit">
            <%= f.association :cat_pgd_axi, input_html: {disabled: updating?} %>
            <%= f.association :cat_ere_expending_focu, input_html: {disabled: updating?} %>
            <%= f.association :cat_ere_result, input_html: {disabled: updating?} %>
            <%= f.association :cat_ere_subresult, input_html: {disabled: updating?} %>
            <%= f.input :year, input_html: {disabled: updating?} %>
            <%= f.input :sector, input_html: {disabled: updating?} %>
            <%= f.input :subsector, input_html: {disabled: updating?} %>
            <%= f.input :unidad_responsable, input_html: {disabled: updating?} %>
            <%= f.association :cat_cfu_finality, input_html: {disabled: updating?} %>
            <%= f.association :cat_cfu_function, input_html: {disabled: updating?} %>
            <%= f.association :cat_cfu_subfunction, input_html: {disabled: updating?} %>
            <%= f.association :cat_aci_institutional_activity, input_html: {disabled: updating?} %>
            <%= f.association :cat_fon_funding_source, input_html: {disabled: updating?} %>
            <%= f.association :cat_fon_generic_source, input_html: {disabled: updating?} %>
            <%= f.association :cat_fon_specific_source, input_html: {disabled: updating?} %>
            <%= f.association :cat_fon_year_document, input_html: {disabled: updating?} %>
            <%= f.association :cat_fon_origin_resource, input_html: {disabled: updating?} %>
            <%= f.association :cat_fon_fund, input_html: {disabled: updating?} %>
            <%= f.association :cat_ppr_par_chapter, input_html: {disabled: updating?} %>
            <%= f.association :cat_ppr_par_concept, input_html: {disabled: updating?} %>
            <%= f.association :cat_ppr_par_partida_generica, input_html: {disabled: updating?} %>
            <%= f.association :cat_ppr_par_partida_especifica, input_html: {disabled: updating?} %>
            <%= f.association :cat_ppr_expense_type, input_html: {disabled: updating?} %>
            <%= f.association :cat_ppr_digit_identifier, input_html: {disabled: updating?} %>
            <%= f.association :cat_ppr_spending_destination, input_html: {disabled: updating?} %>
            <%= f.input :proyecto_de_inversion %>
            <%= f.association :cat_are_area, input_html: {disabled: updating?} %>
            <%= f.input :autorizado %>
            <%= f.input :enero %>
            <%= f.input :febrero %>
            <%= f.input :marzo %>
            <%= f.input :abril %>
            <%= f.input :mayo %>
            <%= f.input :junio %>
            <%= f.input :julio %>
            <%= f.input :agosto %>
            <%= f.input :septiembre %>
            <%= f.input :octubre %>
            <%= f.input :noviembre %>
            <%= f.input :diciembre %>
            <%= f.association :cat_uni_measure_unit, input_html: {disabled: updating?} %>
            <%= f.input :meta_fisica %>
            <%= f.input :descripcion_de_las_acciones, :input_html => {:rows => 4, :cols => 30} %>
            <%= f.input :domicilio_del_area, :input_html => {:rows => 4, :cols => 30} %>
            <%= f.input :dut_de_la_accion, :input_html => {:rows => 4, :cols => 30} %>
            <%= f.input :poblacion_beneficiada %>
            <%= f.association :cat_der_human_right, input_html: {disabled: updating?} %>
            <%= f.association :cat_der_strategy, input_html: {disabled: updating?} %>
            <%= f.association :cat_der_line_of_action, input_html: {disabled: updating?} %>
            <%= f.input :justificacion_derechos_humanos, :input_html => {:rows => 4, :cols => 30} %>
            <%= f.input :porcentaje_igualdad_sustantiva %>
            <%= f.input :mujeres %>
            <%= f.input :hombres %>
            <%= f.association :cat_gen_axi, input_html: {disabled: updating?} %>
            <%= f.association :cat_gen_strategy, input_html: {disabled: updating?} %>
            <%= f.association :cat_gen_line_of_action, input_html: {disabled: updating?} %>
            <%= f.input :justificacion_genero, :input_html => {:rows => 4, :cols => 30} %>
            <%= f.association :cat_pgd_area_of_opportunity, input_html: {disabled: updating?} %>
            <%= f.association :cat_pgd_objective, input_html: {disabled: updating?} %>
            <%= f.association :cat_pgd_goal, input_html: {disabled: updating?} %>
            <%= f.association :cat_pgd_line_of_action, input_html: {disabled: updating?} %>

            <div class="widget-footer">
              <div class="form-actions">
                <div class="btn-group">
                  <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), key_analyticals_path, class: 'btn btn-default btn-sm' if can?(:read, KeyAnalytical) %>
                  <%= link_to raw("<i class='fa fa-binoculars'></i> #{t('simple_form.buttons.show')}"), key_analytical_path(@key_analytical), class: 'btn btn-default btn-sm' if can?(:read, KeyAnalytical) && updating? %>
                  <%= link_to raw("<i class='fa fa-trash'></i> #{t('simple_form.buttons.destroy')}"), key_analytical_path(@key_analytical), class: 'btn btn-default btn-sm', method: :delete, data: {confirm: t('helpers.messages.are_you_sure'), 'original-title': 'Destroy'} if can?(:destroy, KeyAnalytical) && updating? %>
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class='fa fa-check-circle'></i> <%= creating? ? t('simple_form.buttons.create') : t('simple_form.buttons.update') %>
                  </button>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
