<section id="widget-grid">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-table"></i></span>

          <div class="widget-toolbar filter-group">
            <%= link_to raw("<i class='fa fa-file'></i> #{t('simple_form.buttons.new')}"), new_key_analytical_path, class: 'btn btn-primary' if (can? :create, KeyAnalytical) %>
            <a href="javascript:void(0)" data-target="#filter-wid-id-0" id="filtrar" role="button" class="filter-button btn  <%= @filter_active ? 'btn-danger' : 'btn-primary' %>"><i class="fa fa-filter"></i> <%= @filter_active ? t('simple_form.buttons.filtering') : t('simple_form.buttons.filters') %>
            </a>
          </div>
        </header>
        <div class="no-padding">
          <div class="jarviswidget-editbox filter-zone" id="filter-wid-id-0" style="display:none;">
            <div class="col-md-9 col-sm-12 no-padding"><%= search_form_for(@q, html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
                  <fieldset>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[id_eq]">ID</label>
                      <%= f.search_field :id_eq, {class: "form-control input-sm"} %>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[status_in]">Con status por revisar</label>
                      <%= f.select :status_in, options_for_select(KeyAnalytical.status_array, @q.status_in), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[id_in]">Con Historial de Cambios?</label>
                      <%= f.select :id_in, options_for_select(['Sí', 'No'], @patch_q_id_in), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[destroyed_in]">Solo eliminados</label>
                      <%= select_tag "destroyed_in", options_for_select(['Solo eliminados'], params[:destroyed_in]), {include_blank: true, class: "form-control input-sm"}  %>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[cat_ppr_par_chapter_id_eq]">Capítulo</label>
                      <%= f.select :cat_ppr_par_chapter_id_eq, options_from_collection_for_select(CatPprParChapter.order(:key), :id, :to_label, @q.cat_ppr_par_chapter_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[cat_ppr_par_partida_especifica_id_eq]">Partida</label>
                      <%= f.select :cat_ppr_par_partida_especifica_id_eq, options_from_collection_for_select(CatPprParPartidaEspecifica.order(:key), :id, :to_label, @q.cat_ppr_par_partida_especifica_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[cat_are_area_id_eq]"><%= t('simple_form.labels.defaults.cat_are_area') %></label>
                      <%= f.select :cat_are_area_id_eq, options_from_collection_for_select(CatAreArea.order(:description), :id, :description, @q.cat_are_area_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[cat_aci_institutional_activity_id_eq]"><%= t('simple_form.labels.defaults.cat_aci_institutional_activity') %></label>
                      <%= f.select :cat_aci_institutional_activity_id_eq, options_from_collection_for_select(CatAciInstitutionalActivity.order(:description), :id, :description, @q.cat_aci_institutional_activity_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[project_type_eq]"><%= t('simple_form.labels.defaults.project_type') %></label>
                      <%= f.select :project_type_eq, options_for_select(
                                                           [[t("activerecord.models.#{KeyAnalytical.project_types[0].underscore}.one"), KeyAnalytical.project_types[0]],
                                                            [t("activerecord.models.#{KeyAnalytical.project_types[1].underscore}.one"), KeyAnalytical.project_types[1]],
                                                            [t("activerecord.models.#{KeyAnalytical.project_types[2].underscore}.one"), KeyAnalytical.project_types[2]],
                                                            [t("activerecord.models.#{KeyAnalytical.project_types[3].underscore}.one"), KeyAnalytical.project_types[3]]
                                                           ], @q.project_type_eq
                                                   ), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[cat_fon_funding_source_id_eq]"><%= t('simple_form.labels.defaults.cat_fon_funding_source') %></label>
                      <%= f.select :cat_fon_funding_source_id_eq, options_from_collection_for_select(CatFonFundingSource.order(:key), :id, :to_label, @q.cat_fon_funding_source_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[cat_fon_specific_source_id_eq]"><%= t('simple_form.labels.defaults.cat_fon_specific_source') %></label>
                      <%= f.select :cat_fon_specific_source_id_eq, options_from_collection_for_select(CatFonSpecificSource.order(:key), :id, :to_label, @q.cat_fon_specific_source_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[cat_ppr_expense_type_id_eq]"><%= t('simple_form.labels.defaults.cat_ppr_expense_type') %></label>
                      <%= f.select :cat_ppr_expense_type_id_eq, options_from_collection_for_select(CatPprExpenseType.order(:key), :id, :to_label, @q.cat_ppr_expense_type_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <label for="q[key_analytical_string_cont]"><%= t('simple_form.labels.defaults.short_key_analytical_string') %></label>
                      <%= f.search_field :key_analytical_string_cont, {class: "form-control input-sm"} %>
                    </div>
                    <%= render 'shared/submit_filters' %>
                  </fieldset>
              <% end %>
            </div>
          </div>
          <div class="widget-body">
            <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
              <thead>
              <tr>
                <th class='all control'><%= sort_link(@q, :id, 'ID') %></th>
                <th class='all control'><%= sort_link(@q, :key_analyticals_string, t('simple_form.labels.defaults.key_analytical_string')) %></th>
                <th><%= sort_link(@q, :status, 'Status') %></th>
                <th><%= sort_link(@q, :cat_pgd_axi_description, t('simple_form.labels.defaults.cat_pgd_axi')) %></th>
                <th><%= sort_link(@q, :cat_ere_expending_focu_description, t('simple_form.labels.defaults.cat_ere_expending_focu')) %></th>
                <th><%= sort_link(@q, :cat_ere_result_description, t('simple_form.labels.defaults.cat_ere_result')) %></th>
                <th><%= sort_link(@q, :cat_ere_subresult_description, t('simple_form.labels.defaults.cat_ere_subresult')) %></th>
                <th><%= sort_link(@q, :year, t('simple_form.labels.defaults.year')) %></th>
                <th><%= sort_link(@q, :sector, t('simple_form.labels.defaults.sector')) %></th>
                <th><%= sort_link(@q, :subsector, t('simple_form.labels.defaults.subsector')) %></th>
                <th><%= sort_link(@q, :unidad_responsable, t('simple_form.labels.defaults.unidad_responsable')) %></th>
                <th><%= sort_link(@q, :cat_cfu_finality_description, t('simple_form.labels.defaults.cat_cfu_finality')) %></th>
                <th><%= sort_link(@q, :cat_cfu_function_description, t('simple_form.labels.defaults.cat_cfu_function')) %></th>
                <th><%= sort_link(@q, :cat_cfu_subfunction_description, t('simple_form.labels.defaults.cat_cfu_subfunction')) %></th>
                <th><%= sort_link(@q, :cat_aci_institutional_activity_description, t('simple_form.labels.defaults.cat_aci_institutional_activity')) %></th>
                <th><%= sort_link(@q, :cat_fon_funding_source_description, t('simple_form.labels.defaults.cat_fon_funding_source')) %></th>
                <th><%= sort_link(@q, :cat_fon_generic_source_description, t('simple_form.labels.defaults.cat_fon_generic_source')) %></th>
                <th><%= sort_link(@q, :cat_fon_specific_source_description, t('simple_form.labels.defaults.cat_fon_specific_source')) %></th>
                <th><%= sort_link(@q, :cat_fon_year_document_description, t('simple_form.labels.defaults.cat_fon_year_document')) %></th>
                <th><%= sort_link(@q, :cat_fon_origin_resource_description, t('simple_form.labels.defaults.cat_fon_origin_resource')) %></th>
                <th><%= sort_link(@q, :cat_fon_fund_description, t('simple_form.labels.defaults.cat_fon_fund')) %></th>
                <th><%= sort_link(@q, :cat_ppr_par_chapter_description, t('simple_form.labels.defaults.cat_ppr_par_chapter')) %></th>
                <th><%= sort_link(@q, :cat_ppr_par_concept_description, t('simple_form.labels.defaults.cat_ppr_par_concept')) %></th>
                <th><%= sort_link(@q, :cat_ppr_par_partida_generica_description, t('simple_form.labels.defaults.cat_ppr_par_partida_generica')) %></th>
                <th><%= sort_link(@q, :cat_ppr_par_partida_especifica_description, t('simple_form.labels.defaults.cat_ppr_par_partida_especifica')) %></th>
                <th><%= sort_link(@q, :cat_ppr_expense_type_description, t('simple_form.labels.defaults.cat_ppr_expense_type')) %></th>
                <th><%= sort_link(@q, :cat_ppr_digit_identifier_description, t('simple_form.labels.defaults.cat_ppr_digit_identifier')) %></th>
                <th><%= sort_link(@q, :cat_ppr_spending_destination_description, t('simple_form.labels.defaults.cat_ppr_spending_destination')) %></th>
                <th><%= sort_link(@q, :proyecto_de_inversion, t('simple_form.labels.defaults.proyecto_de_inversion')) %></th>
                <th><%= sort_link(@q, :cat_are_area_description, t('simple_form.labels.defaults.cat_are_area')) %></th>
                <th><%= sort_link(@q, :original, t('simple_form.labels.defaults.original')) %></th>
                <th><%= t('simple_form.labels.defaults.modificado') %></th>
                <th><%= t('simple_form.labels.defaults.programado') %></th>
                <th><%= t('simple_form.labels.defaults.ejercido') %></th>
                <th><%= sort_link(@q, :cat_uni_measure_unit_description, t('simple_form.labels.defaults.cat_uni_measure_unit')) %></th>
                <th><%= sort_link(@q, :meta_fisica, t('simple_form.labels.defaults.meta_fisica')) %></th>
                <th><%= sort_link(@q, :descripcion_de_las_acciones, t('simple_form.labels.defaults.descripcion_de_las_acciones')) %></th>
                <th><%= sort_link(@q, :domicilio_del_area, t('simple_form.labels.defaults.domicilio_del_area')) %></th>
                <th><%= sort_link(@q, :dut_de_la_accion, t('simple_form.labels.defaults.dut_de_la_accion')) %></th>
                <th><%= sort_link(@q, :poblacion_beneficiada, t('simple_form.labels.defaults.poblacion_beneficiada')) %></th>
                <th><%= sort_link(@q, :cat_der_human_right_description, t('simple_form.labels.defaults.cat_der_human_right')) %></th>
                <th><%= sort_link(@q, :cat_der_strategy_description, t('simple_form.labels.defaults.cat_der_strategy')) %></th>
                <th><%= sort_link(@q, :cat_der_line_of_action_description, t('simple_form.labels.defaults.cat_der_line_of_action')) %></th>
                <th><%= sort_link(@q, :porcentaje_igualdad_sustantiva, t('simple_form.labels.defaults.porcentaje_igualdad_sustantiva')) %></th>
                <th><%= sort_link(@q, :mujeres, t('simple_form.labels.defaults.mujeres')) %></th>
                <th><%= sort_link(@q, :hombres, t('simple_form.labels.defaults.hombres')) %></th>
                <th><%= sort_link(@q, :cat_gen_axi_description, t('simple_form.labels.defaults.cat_gen_axi')) %></th>
                <th><%= sort_link(@q, :cat_gen_strategy_description, t('simple_form.labels.defaults.cat_gen_strategy')) %></th>
                <th><%= sort_link(@q, :cat_gen_line_of_action_description, t('simple_form.labels.defaults.cat_gen_line_of_action')) %></th>
                <th><%= sort_link(@q, :cat_pgd_area_of_opportunity_description, t('simple_form.labels.defaults.cat_pgd_area_of_opportunity')) %></th>
                <th><%= sort_link(@q, :cat_pgd_objective_description, t('simple_form.labels.defaults.cat_pgd_objective')) %></th>
                <th><%= sort_link(@q, :cat_pgd_goal_description, t('simple_form.labels.defaults.cat_pgd_goal')) %></th>
                <th><%= sort_link(@q, :cat_pgd_line_of_action_description, t('simple_form.labels.defaults.cat_pgd_line_of_action')) %></th>
                <th class="all"><%= t('simple_form.screen.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% @key_analyticals.each do |key_analytical| %>
                  <tr>
                    <td><%= key_analytical.id %></td>
                    <td><%= key_analytical.key_analytical_string %></td>
                    <td><%= key_analytical.status %></td>
                    <td><%= key_analytical.cat_pgd_axi.try(:description) %></td>
                    <td><%= key_analytical.cat_ere_expending_focu.try(:description) %></td>
                    <td><%= key_analytical.cat_ere_result.try(:description) %></td>
                    <td><%= key_analytical.cat_ere_subresult.try(:description) %></td>
                    <td align='right'><%= key_analytical.year %></td>
                    <td><%= key_analytical.sector %></td>
                    <td><%= key_analytical.subsector %></td>
                    <td><%= key_analytical.unidad_responsable %></td>
                    <td><%= key_analytical.cat_cfu_finality.try(:description) %></td>
                    <td><%= key_analytical.cat_cfu_function.try(:description) %></td>
                    <td><%= key_analytical.cat_cfu_subfunction.try(:description) %></td>
                    <td><%= key_analytical.cat_aci_institutional_activity.try(:description) %></td>
                    <td><%= key_analytical.cat_fon_funding_source.try(:description) %></td>
                    <td><%= key_analytical.cat_fon_generic_source.try(:description) %></td>
                    <td><%= key_analytical.cat_fon_specific_source.try(:description) %></td>
                    <td><%= key_analytical.cat_fon_year_document.try(:description) %></td>
                    <td><%= key_analytical.cat_fon_origin_resource.try(:description) %></td>
                    <td><%= key_analytical.cat_fon_fund.try(:description) %></td>
                    <td><%= key_analytical.cat_ppr_par_chapter.try(:description) %></td>
                    <td><%= key_analytical.cat_ppr_par_concept.try(:description) %></td>
                    <td><%= key_analytical.cat_ppr_par_partida_generica.try(:description) %></td>
                    <td><%= key_analytical.cat_ppr_par_partida_especifica.try(:description) %></td>
                    <td><%= key_analytical.cat_ppr_expense_type.try(:description) %></td>
                    <td><%= key_analytical.cat_ppr_digit_identifier.try(:description) %></td>
                    <td><%= key_analytical.cat_ppr_spending_destination.try(:description) %></td>
                    <td><%= key_analytical.proyecto_de_inversion %></td>
                    <td><%= key_analytical.cat_are_area.try(:description) %></td>
                    <td align='right'><%= key_analytical.original %></td>
                    <td align='right'><%= key_analytical.modificado %></td>
                    <td align='right'><%= key_analytical.programado_calculated %></td>
                    <td align='right'><%= key_analytical.ejercido %></td>
                    <td><%= key_analytical.cat_uni_measure_unit.try(:description) %></td>
                    <td align='right'><%= key_analytical.meta_fisica %></td>
                    <td><%= key_analytical.descripcion_de_las_acciones %></td>
                    <td><%= key_analytical.domicilio_del_area %></td>
                    <td><%= key_analytical.dut_de_la_accion %></td>
                    <td align='right'><%= key_analytical.poblacion_beneficiada %></td>
                    <td><%= key_analytical.cat_der_human_right.try(:description) %></td>
                    <td><%= key_analytical.cat_der_strategy.try(:description) %></td>
                    <td><%= key_analytical.cat_der_line_of_action.try(:description) %></td>
                    <td align='right'><%= key_analytical.porcentaje_igualdad_sustantiva %></td>
                    <td align='right'><%= key_analytical.mujeres %></td>
                    <td align='right'><%= key_analytical.hombres %></td>
                    <td><%= key_analytical.cat_gen_axi.try(:description) %></td>
                    <td><%= key_analytical.cat_gen_strategy.try(:description) %></td>
                    <td><%= key_analytical.cat_gen_line_of_action.try(:description) %></td>
                    <td><%= key_analytical.cat_pgd_area_of_opportunity.try(:description) %></td>
                    <td><%= key_analytical.cat_pgd_objective.try(:description) %></td>
                    <td><%= key_analytical.cat_pgd_goal.try(:description) %></td>
                    <td><%= key_analytical.cat_pgd_line_of_action.try(:description) %></td>
                    <td class="table-actions">
                      <% unless params[:destroyed_in] == 'Solo eliminados' %>
                          <%= link_to raw('<i class="fa fa-binoculars fa-lg"></i>'), key_analytical_path(key_analytical), rel: 'tooltip', title: t('simple_form.tooltips.show'), data: { toggle: 'toggle', placement: 'top', 'original-title' => t('simple_form.tooltips.show')} if can? :read, key_analytical %>
                          <%= link_to raw('<i class="fa fa-pencil fa-lg"></i>'), edit_key_analytical_path(key_analytical), rel: 'tooltip', title: t('simple_form.tooltips.edit'), data: { toggle: 'toggle', placement: 'top', 'original-title' => t('simple_form.tooltips.edit')} if can? :update, key_analytical %>
                          <%= link_to raw('<i class="fa fa-trash fa-lg"></i>'), key_analytical_path(key_analytical), method: :delete, rel: 'tooltip', title: t('simple_form.tooltips.destroy'), class:'tooltipwithnofollow', data: { toggle: 'toggle', placement: 'top' , confirm: t('helpers.messages.are_you_sure'), 'original-title' => t('simple_form.tooltips.destroy')} if can? :destroy, key_analytical %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <div class="widget-footer">
              <%= render 'shared/pagination', locals: {target: @key_analyticals, model_index_path: key_analyticals_path} %>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

