<section id="widget-grid">
  <div class="row">
    <article class="col-sm-6">
      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-binoculars"></i></span>

          <div class="widget-toolbar">
            <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), key_analyticals_path, class: 'btn btn-primary' %>
            <%= link_to raw("<i class='fa fa-pencil'></i> #{t('simple_form.buttons.edit')}"), edit_key_analytical_path(@key_analytical), class: 'btn btn-primary' if can?(:update, @key_analytical) %>
          </div>
        </header>
        <div class="no-padding">
          <!-- widget content -->
          <div class="widget-body">

            <div class="form-group">
              <% unless @key_analytical.status.nil?  %>
              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label">
                  <strong>Status</strong>
                </label>
                <div class="col-lg-9 details-data"><%= @key_analytical.status %></div>
              </div>
              <% end %>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.key_analytical_string') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.key_analytical_string %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_pgd_axi') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_pgd_axi.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ere_expending_focu') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ere_expending_focu.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ere_result') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ere_result.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ere_subresult') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ere_subresult.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.year') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.year %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.sector') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.sector %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.subsector') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.subsector %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.unidad_responsable') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.unidad_responsable %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_cfu_finality') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_cfu_finality.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_cfu_function') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_cfu_function.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_cfu_subfunction') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_cfu_subfunction.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_aci_institutional_activity') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_aci_institutional_activity.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_fon_funding_source') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_fon_funding_source.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_fon_generic_source') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_fon_generic_source.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_fon_specific_source') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_fon_specific_source.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_fon_year_document') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_fon_year_document.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_fon_origin_resource') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_fon_origin_resource.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_fon_fund') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_fon_fund.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ppr_par_chapter') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ppr_par_chapter.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ppr_par_concept') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ppr_par_concept.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ppr_par_partida_generica') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ppr_par_partida_generica.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ppr_par_partida_especifica') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ppr_par_partida_especifica.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ppr_expense_type') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ppr_expense_type.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ppr_digit_identifier') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ppr_digit_identifier.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_ppr_spending_destination') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_ppr_spending_destination.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.proyecto_de_inversion') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.proyecto_de_inversion.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_are_area') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_are_area.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.original') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.original, unit: 'MXN') if @key_analytical.original %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.modificado') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.modificado, unit: 'MXN') if @key_analytical.modificado %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.programado') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.programado_calculated, unit: 'MXN') %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.ejercido') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.ejercido, unit: 'MXN') if @key_analytical.ejercido %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.enero') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.enero, unit: 'MXN') if @key_analytical.enero %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.febrero') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.febrero, unit: 'MXN') if @key_analytical.febrero %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.marzo') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.marzo, unit: 'MXN') if @key_analytical.marzo %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.abril') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.abril, unit: 'MXN') if @key_analytical.abril %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.mayo') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.mayo, unit: 'MXN') if @key_analytical.mayo %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.junio') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.junio, unit: 'MXN') if @key_analytical.junio %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.julio') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.julio, unit: 'MXN') if @key_analytical.julio %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.agosto') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.agosto, unit: 'MXN') if @key_analytical.agosto %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.septiembre') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.septiembre, unit: 'MXN') if @key_analytical.septiembre %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.octubre') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.octubre, unit: 'MXN') if @key_analytical.octubre %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.noviembre') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.noviembre, unit: 'MXN') if @key_analytical.noviembre %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.diciembre') %></strong></label>
                <div class="col-lg-9 details-data"><%= number_to_currency(@key_analytical.diciembre, unit: 'MXN') if @key_analytical.diciembre %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_uni_measure_unit') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_uni_measure_unit.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.meta_fisica') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.meta_fisica %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.descripcion_de_las_acciones') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.descripcion_de_las_acciones %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.domicilio_del_area') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.domicilio_del_area %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.dut_de_la_accion') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.dut_de_la_accion %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.poblacion_beneficiada') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.poblacion_beneficiada %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_der_human_right') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_der_human_right.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_der_strategy') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_der_strategy.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_der_line_of_action') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_der_line_of_action.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.justificacion_derechos_humanos') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.justificacion_derechos_humanos %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.porcentaje_igualdad_sustantiva') %></strong></label>
                <!-- <div class="col-lg-9 details-data"><%#= number_to_percentage(@key_analytical.porcentaje_igualdad_sustantiva, precision: 2, strip_insignificant_zeros: true) if @key_analytical.porcentaje_igualdad_sustantiva %></div> -->
                <div class="col-lg-9 details-data"><%= @key_analytical.porcentaje_igualdad_sustantiva %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.mujeres') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.mujeres %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.hombres') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.hombres %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_gen_axi') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_gen_axi.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_gen_strategy') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_gen_strategy.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_gen_line_of_action') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_gen_line_of_action.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.justificacion_genero') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.justificacion_genero %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_pgd_area_of_opportunity') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_pgd_area_of_opportunity.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_pgd_objective') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_pgd_objective.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_pgd_goal') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_pgd_goal.try(:description) %></div>
              </div>

              <div class="row show-details">
                <label class="col-lg-3 col-md-4 control-label"><strong><%= t('simple_form.labels.defaults.cat_pgd_line_of_action') %></strong></label>
                <div class="col-lg-9 details-data"><%= @key_analytical.cat_pgd_line_of_action.try(:description) %></div>
              </div>

            </div>

            
          </div>
        </div>
      </div>
    </article>


    <%
       versions = @key_analytical.versions.to_a
       last_version = versions.pop if @key_analytical.status.present?
    %>

    <% if last_version %>
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div id="wid-id-1" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-exchange"></i></span>
          <h2>Cambios por aprobar</h2>
        </header>
        <div class="no-padding">
          <div class="widget-body">
            <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
              <thead>
              <tr>
                <th class='all control'>Creado</th>
                <th>Usuario</th>
                <th>Tipo</th>
                <th>Cambios</th>
                <th class="all"><%= t('simple_form.screen.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= l(last_version.created_at, format: :without_seg) %></td>
                <td><%= User.find_by_id(last_version.whodunnit).try(:name_or_email) %></td>
                <td><%= @key_analytical.status %></td>
                <td>
                  <table width="100%" class="display table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Actual</th>
                      <th>Cambiar a</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% last_version.changeset.keys.each do |key| %>
                        <tr>
                          <td><%= key %></td>
                          <td><%= last_version.changeset[key][1] %></td>
                          <td><%= last_version.changeset[key][0] %></td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </td>
                <td class="table-actions">
                  <%= link_to raw("<i class='fa fa-check-circle'></i> Aprobar"), approve_changes_key_analytical_path(@key_analytical), class: 'btn btn-success btn-sm', method: :put, data: {confirm: "¿Está seguro de APROBAR esta #{@key_analytical.status}?"} if can?(:approve_changes, KeyAnalytical) %>
                  <%= link_to raw("<i class='fa fa-times-circle'></i> Rechazar"), reject_changes_key_analytical_path(@key_analytical), class: 'btn btn-danger btn-sm', method: :put, data: {confirm: "¿Está seguro de RECHAZAR esta #{@key_analytical.status}?"} if can?(:reject_changes, KeyAnalytical) %>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </article>
    <% end%>

    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div id="wid-id-1" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-history"></i></span>
          <h2>Historial de Cambios</h2>
        </header>
        <div class="no-padding">
          <div class="widget-body">
            <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
              <thead>
              <tr>
                <th class='all control'>Aprovado</th>
                <th>Usuario</th>
                <th>Tipo</th>
                <th>Cambios</th>
              </tr>
              </thead>
              <tbody>
              <% versions.reverse.each do |version| %>
                  <tr>
                    <td><%= l(version.created_at, format: :without_seg) %></td>
                    <td><%= User.find_by_id(version.whodunnit).try(:name_or_email) %></td>
                    <td><%= infer_status_from_version(version) %></td>
                    <td>
                      <table width="100%" class="display table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                          <th></th>
                          <th>Antes</th>
                          <th>Después</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% version.changeset.keys.each do |key| %>
                            <tr>
                              <td><%= key %></td>
                              <td><%= version.changeset[key][0] %></td>
                              <td><%= version.changeset[key][1] %></td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </article>

  </div>
</section>

<script type="text/javascript">
  $('.show-details:even').addClass('striped-div');
</script>

