<% @conversations.each do |conversation| %>
<% message = conversation.last_message %>
<li id="<%= "conversation_li_#{conversation.id}" %>" style="width: 96%;">
  <span class="row <%= conversation.is_unread?(current_user) ? 'unread' : '' %>" style="padding: 8px 4px 13px;">
    <div class="col-xs-1">
      <%= message.subject.html_safe -%>
    </div>
    <div class="col-xs-10 text-justify" style="font-size: 12px">
      <%= message.body.html_safe -%>
    </div>
    <span class="pull-right">
      <%= link_to '', conversation_path(conversation), class: 'pull-right fa fa-times', title: 'Move to trash', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :remote => true, method: :delete %>
      <%= link_to '', mark_as_read_conversation_path(conversation), id: "conversation_link_#{conversation.id}", class: 'fa fa-check', title: 'Mark as read', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :remote => true, method: :post if conversation.is_unread?(current_user) %>
      <br/>
    </span>
    <span style="padding-right: 0;" class="font-xs text-muted col-xs-12 text-right" title='<%= l(message.created_at, format: :without_seg) %>' data-toggle='tooltip' data-placement='top'><i><%= time_ago_in_words(message.created_at) %></i></span>
  </span>
</li>
<% end %>
