<% @conversations.each do |conversation| %>
<% message = conversation.last_message %>
<li id="<%= "conversation_li_#{conversation.id}" %>">
  <span style="padding: 10px 0px;" class="<%= conversation.is_unread?(current_user) ? 'unread' : '' %>">
    <div class="col-xs-1">
      <%= message.subject.html_safe -%>
    </div>
    <div class="col-xs-8" style="font-size: 12px">
      <%= message.body.html_safe -%>
    </div>
    <span class="col-xs-2 pull-right">
      <%= link_to '', conversation_path(conversation), class: 'pull-right fa fa-times', :remote => true, method: :delete %>
      <%= link_to '', mark_as_read_conversation_path(conversation), id: "conversation_link_#{conversation.id}", class: 'fa fa-check', :remote => true, method: :post if conversation.is_unread?(current_user) %>
      <br/>
    </span>
    <span class="font-xs text-muted col-xs-12 text-right"><i><%= time_ago_in_words(message.created_at) %><%#= l(message.created_at, format: :without_seg) %></i></span>
  </span>
</li>
<% end %>
