<div class="jarviswidget" id="wid-id-0">
  <header>
    <h2><%= creating? ? "<i class='fa fa-file'></i>".html_safe : "<i class='fa fa-pencil'></i>".html_safe %></h2>
  </header>
  <div>
    <div class="widget-body">
      <%= simple_form_for @thing, html: {class: 'form-horizontal'},
                          wrapper: :horizontal_form,
                          wrapper_mappings: {
                                  #check_boxes: :horizontal_radio_and_checkboxes,
                                  #radio_buttons: :horizontal_radio_and_checkboxes,
                                  attachment: :horizontal_file_input,
                                  boolean: :horizontal_boolean
                          } do |f| %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :age %>
            <%= f.input :price %>
            <%= f.input :expires, as: :string, input_html: {class: 'datepicker', data: {dateformat: 'dd/mm/yy'}} %>
            <%= f.input :discharged_at, as: :string, input_html: {class: 'datepicker', data: {dateformat: 'dd/mm/yy'}} %>
            <%= f.input :description, :input_html => {:rows => 4, :cols => 30} %>
            <%= f.input :published %>
            <%= f.input :gender %>
            <%= f.input :thing_attaches_files, as: :attachment, label: 'Images', multiple: true, direct: true %>

            <div class="form-group attachment optional thing_thing_attaches_files">

              <label class="attachment optional col-sm-3 control-label" for="thing_thing_attaches_files"></label>
              <div class="col-sm-9">
                <input type="hidden" name="thing[thing_attaches_files][]" data-reference="ade4d8a122754853cf19b15558ea288c" value="[]" multiple="multiple"></input>
                <input id="thing_thing_attaches_files" class="attachment optional" type="file" name="thing[thing_attaches_files][]" data-reference="ade4d8a122754853cf19b15558ea288c" data-url="/attachments/cache" data-as="file" data-direct="true" multiple="multiple" direct="true"></input>
              </div>

            </div>


            <table border="1">
              <tr>
                <td>image</td>
                <td>file name</td>
                <td>size</td>
                <td>content type</td>
                <td>Destroy</td>
              </tr>
              <%= f.fields_for :thing_attaches do |upload| %>
                  <tr>
                    <td><%= attachment_image_tag(upload.object, :file, :fill, 30, 30) %></td>
                    <td><%= upload.object.file_filename %></td>
                    <td><%= upload.object.file_size %></td>
                    <td><%= upload.object.file_content_type %></td>
                    <td><%= upload.input :_destroy, as: :boolean, label: false, wrap_with: :p %></td>
                  </tr>
              <% end %>
            </table>
          </div>

          <div class="form-actions">
            <div class="btn-group">
              <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), things_path, class: 'btn btn-default btn-sm' if can?(:read, Thing) %>
              <%= link_to raw("<i class='fa fa-binoculars'></i> #{t('simple_form.buttons.show')}"), @thing, class: 'btn btn-default btn-sm' if can?(:read, Thing) && updating? %>
              <%= link_to raw("<i class='fa fa-trash'></i> #{t('simple_form.buttons.destroy')}"), @thing, class: 'btn btn-default btn-sm', method: :delete, data: {confirm: 'Are you sure?', 'original-title': 'Destroy'} if can?(:destroy, Thing) && updating? %>
              <button type="submit" class="btn btn-primary btn-sm">
                <i class='fa fa-check-circle'></i> <%= creating? ? t('simple_form.buttons.create') : t('simple_form.buttons.update') %>
              </button>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
