<%= simple_form_for @thing, html: { class: 'form-horizontal' },
    wrapper: :horizontal_form,
    wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :price %>
    <%= f.input :expires %>
    <%= f.input :discharged_at %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary btn-sm' %>
  </div>
<% end %>
