
<div class="control-buttons">
  <div><%= link_to raw('<i class="fa fa-file"></i> New'), new_thing_path, class: 'btn btn-sm btn-primary' %><a aria-expanded="false" aria-controls="filters" data-toggle="collapse" href="#filters" role="button" class="btn btn-sm btn-primary"><i class="fa fa-filter"></i> Filter</a></div>
  <div id="filters" class="collapse">
    <form class="form-inline">
      <div class="form-group">
        <label for="filter-name">Name</label>
        <input id="filter-name" type="text" placeholder="Jane Doe" class="form-control input-sm">
      </div>
      <div class="form-group">
        <label for="filter-age">Age</label>
        <input id="filter-age" min="0" max="120" type="text" placeholder="21" class="form-control input-sm">
      </div>
      <div class="form-group">
        <label for="filter-gender">Gender</label>
        <select id="filter-gender" class="form-control input-sm">
          <option></option>
          <option>Female</option>
          <option>Male</option>
          <option>Other</option>
        </select>
      </div>
      <div class="form-group spanning">
        <label for="filter-price-from">Price</label>
        <div class="input-group input-group-sm block">
          <input id="filter-price-from" min="0.01" placeholder="from" step="0.01" type="text" class="form-control input-sm">
        </div>
        <div class="input-group input-group-sm block">
          <input id="filter-price-to" min="0.01" placeholder="to" step="0.01" type="text" class="form-control input-sm">
        </div>
      </div>
      <div class="form-group">
        <label for="filter-description">Description</label>
        <input id="filter-description" type="text" placeholder="jane.doe@example.com" class="form-control input-sm">
      </div>
      <div class="form-group spanning">
        <label for="filter-expires-from">Expires</label>
        <div class="input-group input-group-sm block">
          <input data-dateformat="dd/mm/yy" id="filter-expires-from" placeholder="Enter date" type="text" class="form-control datepicker input-sm">
        </div>
        <div class="input-group input-group-sm block">
          <input data-dateformat="dd/mm/yy" id="filter-expires-to" placeholder="Enter date" type="text" class="form-control datepicker input-sm">
        </div>
      </div>
      <div class="form-group spanning">
        <label for="filter-discharged-from">Discharged</label>
        <div class="input-group input-group-sm block">
          <input data-dateformat="dd/mm/yy" id="filter-discharged-from" placeholder="Enter date" type="text" class="form-control datepicker input-sm">
        </div>
        <div class="input-group input-group-sm block">
          <input data-dateformat="dd/mm/yy" id="filter-discharged-to" placeholder="Enter date" type="text" class="form-control datepicker input-sm">
        </div>
      </div>
      <div class="form-actions no-padding">
        <div>
          <button type="reset" class="btn btn-sm btn-default form-control">Reset</button>
          <button type="submit" class="btn btn-sm btn-primary form-control">Filter</button>
        </div>
      </div>
    </form>
  </div>
</div>
<table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th data-class="expand">Name</th>
      <th data-hide="phone,tablet">Age</th>
      <th data-hide="phone,tablet">Gender</th>
      <th data-hide="phone,tablet">Price</th>
      <th data-hide="phone,tablet">Expires</th>
      <th data-hide="phone,tablet">Discharged</th>
      <th data-hide="phone,tablet">Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody><% @things.each do |thing| %>
    <tr>
      <td><%= thing.name %></td>
      <td><%= thing.age %></td>
      <td><%#= thing.gender %></td>
      <td><%= thing.price %></td>
      <td><%= thing.expires %></td>
      <td><%= thing.discharged_at %></td>
      <td><%= thing.description %></td>

      <td class="table-actions">
       <%= link_to raw('<i class="fa fa-binoculars"></i>'), thing, rel: 'tooltip', data: { toggle: 'toggle', placement: 'top', 'original-title': 'Show' } %>
       <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_thing_path(thing), rel: 'tooltip', data: { toggle: 'toggle', placement: 'top', 'original-title': 'Edit' } %>
       <%= link_to raw('<i class="fa fa-trash"></i>'), thing, method: :delete, rel: 'tooltip', data: { toggle: 'toggle', placement: 'top' , confirm: 'Are you sure?', 'original-title': 'Destroy'} %>
      </td>
    </tr><% end %>
  </tbody>
</table>
<div class="form-actions no-padding">
  <select class="form-control input-sm">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
  </select><%= will_paginate @things, renderer: BootstrapPagination::Rails, class: 'no-margin' %>
</div>
