<div class="jarviswidget" id="wid-id-0">
  <header>
    <h2>New/Edit</h2>
  </header>
  <div>
    <div class="widget-body">
<%= simple_form_for @thing, html: { class: 'form-horizontal' },
    wrapper: :horizontal_form,
    wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
} do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :age %>
        <%= f.input :gender, as: :select, collection: ['Male', 'Female', 'Other'] %>
        <%= f.input :price %>
        <%= f.input :published %>
        <%= f.input :expires, as: :string, input_html: {class: 'datepicker'} %>
        <%= f.input :discharged_at, as: :string, input_html: {class: 'datepicker'}  %>
        <%= f.input :description %>
      </div>

      <div class="form-actions">
          <div class="btn-group">
            <%= link_to raw('<i class="fa fa-arrow-left"></i> Back'), things_path, class: 'btn btn-default btn-sm' %>
            <%= link_to raw('<i class="fa fa-binoculars"></i> Show'), @thing, class: 'btn btn-default btn-sm', rel: 'tooltip', data: { toggle: 'toggle', placement: 'top', 'original-title': 'Show' } %>
            <%= link_to raw('<i class="fa fa-trash"></i> Destroy'), @thing, class: 'btn btn-default btn-sm', method: :delete, rel: 'tooltip', data: { toggle: 'toggle', placement: 'top' , confirm: 'Are you sure?', 'original-title': 'Destroy'} %>
            <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
          </div>
      </div>
<% end %>
    </div>
  </div>
</div>
