<section id="widget-grid">
  <div class="row">
    <article class="col-xs-12">
      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-table"></i></span>

          <div class="widget-toolbar filter-group">
            <%= link_to raw("<i class='fa fa-file'></i> #{t('simple_form.buttons.new')}"), new_paysheet_path, class: 'btn btn-primary' if (can? :create, Paysheet) %>
            <a href="javascript:void(0)" data-target="#filter-wid-id-0" id="filtrar" role="button" class="filter-button btn <%= @filter_active ? 'btn-danger' : 'btn-primary' %>"><i class="fa fa-filter"></i> <%= @filter_active ? t('simple_form.buttons.filtering') : t('simple_form.buttons.filters') %>
            </a>
          </div>
        </header>
        <div class="no-padding">
          <div class="jarviswidget-editbox filter-zone" id="filter-wid-id-0" style="display:none;">
            <div class="col-xs-12"><%= search_form_for(@q, html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
                  <fieldset>
                    <div class="row">
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[staff_id_cont]"><%= t('simple_form.labels.staff') %></label>
                        <%= f.select :staff_id_eq, options_from_collection_for_select(Staff.all, :id, :name, @q.staff_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[job_title_id_cont]"><%= t('simple_form.labels.job_title') %></label>
                        <%= f.select :job_title_id_eq, options_from_collection_for_select(JobTitle.all, :id, :name, @q.job_title_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[ascription_id_cont]"><%= t('simple_form.labels.ascription') %></label>
                        <%= f.select :ascription_id_eq, options_from_collection_for_select(Ascription.all, :id, :name, @q.ascription_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 spanning">
                        <label for="q[importe_gteq]"><%= t('simple_form.labels.defaults.importe') %></label>

                        <div class="input-group input-group-sm block">
                          <%= f.search_field :importe_gteq, label: false, placeholder: t('simple_form.placeholders.from'), class: "form-control input-sm" %>
                        </div>
                        <div class="input-group input-group-sm block">
                          <%= f.search_field :importe_lteq, label: false, placeholder: t('simple_form.placeholders.to'), class: "form-control input-sm" %>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12">
                        <label for="q[project_activity_nomina_id_cont]"><%= t('simple_form.labels.project_activity_nomina') %></label>
                        <%= f.select :project_activity_nomina_id_eq, options_from_collection_for_select(ProjectActivityNomina.all, :id, :name, @q.project_activity_nomina_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                      </div>
                    </div>
                    <div class="row pull-right">
                      <div class="col-sm-12">
                        <%= render 'shared/submit_filters' %>
                      </div>
                    </div>
                  </fieldset>
              <% end %>
            </div>
          </div>
          <div class="widget-body">
            <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
              <thead>
              <tr>
                <th class='all control'><%= sort_link(@q, :staff_name, t('simple_form.labels.defaults.staff')) %></th>
                <th><%= sort_link(@q, :job_title_name, t('simple_form.labels.defaults.job_title')) %></th>
                <th><%= sort_link(@q, :ascription_name, t('simple_form.labels.defaults.ascription')) %></th>
                <th><%= sort_link(@q, :importe, t('simple_form.labels.defaults.importe')) %></th>
                <th><%= sort_link(@q, :project_activity_nomina_name, t('simple_form.labels.defaults.project_activity_nomina')) %></th>
                <th class="all"><%= t('simple_form.screen.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% @paysheets.each do |paysheet| %>
                  <tr>
                    <td><%= paysheet.staff.try(:name) %></td>
                    <td><%= paysheet.job_title.try(:name) %></td>
                    <td><%= paysheet.ascription.try(:name) %></td>
                    <td align='right'><%= paysheet.importe %></td>
                    <td><%= paysheet.project_activity_nomina.try(:name) %></td>
                    <td class="table-actions">
                      <%= render 'shared/action_icons', locals: {target: paysheet} %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <div class="widget-footer">
              <%= render 'shared/pagination', locals: {target: @paysheets, model_index_path: paysheets_path} %>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

