<%= simple_form_for [@project_activityable, @financial_document.becomes(FinancialDocument)], url: @url_form, html: {class: 'form-horizontal'},
                    wrapper: :horizontal_form,
                    wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                    } do |f| %>
    <div class="form-inputs edit">
      <% f.object = @financial_document.becomes(FinancialDocumentOther) %>
      <%= f.association :financial_document_type, input_html: {disabled: true} %>
      <%= f.input :financial_document_type_id, as: :hidden, input_html: {value: @financial_document.financial_document_type_id} %>
      <%= f.input :description %>
      <% f.object = @financial_document.becomes(FinancialDocument) %>
      <%= render 'shared/dropzone_simple', locals: {f: f, field: :file, max_filesize: Sett['REFILE_S3_MAX_FILESIZE'].to_i} %>
      <div class="widget-footer">
        <div class="form-actions">
          <div class="btn-group">
            <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), @list_path, class: 'btn btn-default btn-sm' if can?(:read, FinancialDocument) %>
            <%= link_to raw("<i class='fa fa-binoculars'></i> #{t('simple_form.buttons.show')}"), financial_document_path(@financial_document), class: 'btn btn-default btn-sm' if can?(:read, FinancialDocument) && updating? %>
            <%= link_to raw("<i class='fa fa-trash'></i> #{t('simple_form.buttons.destroy')}"), financial_document_path(@financial_document), class: 'btn btn-default btn-sm', method: :delete, data: {confirm: 'Are you sure?', 'original-title': 'Destroy'} if can?(:destroy, FinancialDocument) && updating? %>
            <button type="submit" class="btn btn-primary btn-sm">
              <i class='fa fa-check-circle'></i> <%= updating? ? t('simple_form.buttons.update') : t('simple_form.buttons.create') %>
            </button>
          </div>
        </div>
      </div>
    </div>
<% end %>

