<tr role="row">
  <th><%= t('simple_form.labels.defaults.financial_document_type') %></th>
  <td>
    <%= @financial_document.financial_document_type.try(:name) %>
  </td>
</tr>
<tr role="row">
  <th><%= t('simple_form.labels.defaults.description') %></th>
  <td>
    <%= @financial_document.description %>
  </td>
</tr>
<tr role="row">
  <th><%= t('simple_form.labels.defaults.file') %></th>
  <td>
    <%= link_to @financial_document.file_filename, attachment_url(@financial_document, :file) %> <%= "(#{friendly_file_size(@financial_document.file_size)} #{@financial_document.file_content_type})" %>
  </td>
</tr>

