<tr role="row">
  <th><%= t('simple_form.labels.defaults.financial_document_type') %></th>
  <td>
    <%= @financial_document.financial_document_type.try(:name) %>
  </td>
</tr>
<tr role="row">
  <th><%= t('simple_form.labels.defaults.description') %></th>
  <td>
    <%= @financial_document.description %>
  </td>
</tr>
<tr role="row">
  <th><%= t('simple_form.labels.defaults.file') %></th>
  <td>
    <%= link_to "Download file", attachment_url(@financial_document, :file) %>
  </td>
</tr>

