<article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
    <header><span class="widget-icon"><i class="fa fa-table"></i></span>

      <div class="widget-toolbar filter-group">
        <%#= link_to raw("<i class='fa fa-file'></i> #{t('simple_form.buttons.new')}"), new_key_analytical_path, class: 'btn btn-primary' if (can? :create, KeyAnalytical) %>
        <a href="#" id="filtrar" role="button" class="btn <%= eval("@#{locals[:query_name]}_filter_active") ? 'btn-danger' : 'btn-primary' %>"><i class="fa fa-filter"></i> <%= eval("@#{locals[:query_name]}_filter_active") ? t('simple_form.buttons.filtering') : t('simple_form.buttons.filters') %>
        </a>
      </div>
    </header>
    <div class="no-padding">
      <div class="jarviswidget-editbox" id="filter-zone" style="display:none;">
        <div class="col-md-9 col-sm-12 no-padding"><%= search_form_for(locals[:query_instance], as: locals[:query_name].to_sym, url: '/projects', html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
              <fieldset>
                <div class="form-group">
                  <label for="<%=locals[:query_name]%>[id_eq]">ID</label>
                  <%= f.search_field :id_eq, {class: "form-control input-sm"} %>
                </div>
                <div class="form-group">
                  <label for="<%=locals[:query_name]%>[key_analytical_string_eq]">Key</label>
                  <%= f.search_field :key_analytical_string_cont, {class: "form-control input-sm"} %>
                </div>
                <div class="form-group">
                  <label for="<%=locals[:query_name]%>[cat_are_area_id_cont]"><%= t('simple_form.labels.cat_are_area') %></label>
                  <%= f.select :cat_are_area_id_eq, options_from_collection_for_select(CatAreArea.all, :id, :description, locals[:query_instance].cat_are_area_id_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                </div>
                <%= render 'shared/submit_filters' %>
              </fieldset>
          <% end %>
        </div>
      </div>
      <div class="widget-body">
        <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
          <thead>
          <tr>
            <th class='all control'><%= sort_link(locals[:query_instance], :key_analytical_string, 'Clave Presupuestaria') %></th>
            <th><%= sort_link(locals[:query_instance], :autorizado, t('simple_form.labels.defaults.autorizado')) %></th>
            <th>Monto Ejercido</th>
            <th><%= sort_link(locals[:query_instance], :cat_ppr_par_partida_especifica_key, 'Partida') %></th>
            <th><%= sort_link(locals[:query_instance], :cat_ppr_par_partida_especifica_description, 'Concepto Partida') %></th>
            <th><%= sort_link(locals[:query_instance], :cat_are_area_description, 'Ãrea') %></th>
            <th class="all"><%= t('simple_form.screen.actions') %></th>
          </tr>
          </thead>
          <tbody>
          <% locals[:projects].each do |key_analytical| %>
              <tr>
                <td><%= key_analytical.key_analytical_string %></td>
                <td align='right'><%= number_to_currency(key_analytical.autorizado, unit: '') if key_analytical.autorizado %></td>
                <td align='right'></td>
                <td><%= key_analytical.cat_ppr_par_partida_especifica.try(:key) %></td>
                <td><%= key_analytical.cat_ppr_par_partida_especifica.try(:description) %></td>
                <td><%= key_analytical.cat_are_area.try(:description) %></td>
                <td class="table-actions">
                  <%= link_to raw('<i class="fa fa-binoculars fa-lg"></i>'), project_path(key_analytical), rel: 'tooltip', title: t('simple_form.tooltips.show'), data: { toggle: 'toggle', placement: 'top', 'original-title' => t('simple_form.tooltips.show')} if can? :read, key_analytical %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="widget-footer">
          <%= render 'shared/pagination', locals: {target: locals[:projects], model_index_path: projects_path} %>
        </div>
      </div>
    </div>
  </div>
</article>
