<div>
  <%= link_to raw('<i class="fa fa-file"></i> New'), new_dev_chucky_bot_path, class: 'btn btn-sm btn-primary' if (can? :create, ChuckyBot) %>
  <a aria-expanded="false" aria-controls="filters" data-toggle="collapse" href="#filters" role="button" class="btn btn-sm btn-primary"><i class="fa fa-filter"></i>
    Filter</a>
</div>

<div id="filters" class="collapse">
  <%= search_form_for(@q, url: dev_chucky_bots_path, html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
      <div class="form-group">
        <label for="q[underscore_model_name_cont]">underscore_model_name</label>
        <%= f.search_field :underscore_model_name_cont, label: false, class: "form-control input-sm" %>
      </div>
      <div class="form-group">
        <label for="q[i18n_singular_name_cont]">i18n_singular_name</label>
        <%= f.search_field :i18n_singular_name_cont, label: false, class: "form-control input-sm" %>
      </div>
      <div class="form-group">
        <label for="q[i18n_plural_name_cont]">i18n_plural_name</label>
        <%= f.search_field :i18n_plural_name_cont, label: false, class: "form-control input-sm" %>
      </div>
      <div class="form-group">
        <label for="q[migrate_eq]">migrate</label>
        <%= f.select :migrate_eq, options_for_select([['True', 'true'], ['False', 'false']], @q.migrate_eq), {include_blank: true}, {class: "form-control input-sm"} %>
      </div>
      <div class="form-actions no-padding">
        <div>
          <button type="submit" class="btn btn-sm btn-default form-control" name="search_clear" value="true" id="search_clear">Reset</button>
          <button type="submit" class="btn btn-sm btn-primary form-control">Filter</button>
        </div>
      </div>
  <% end %>
</div>

<table id="dt_basic" width="100%" class="display responsive table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th><%= sort_link(@q, :underscore_model_name, 'underscore_model_name') %></th>
    <th><%= sort_link(@q, :i18n_singular_name, 'i18n_singular_name') %></th>
    <th><%= sort_link(@q, :i18n_plural_name, 'i18n_plural_name') %></th>
    <th><%= sort_link(@q, :migrate, 'migrate') %></th>
    <th class="all">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @chucky_bots.each do |chucky_bot| %>
      <tr class=<%= cycle('alternate-row', '') %>>
        <td><%= chucky_bot.underscore_model_name %></td>
        <td><%= chucky_bot.i18n_singular_name %></td>
        <td><%= chucky_bot.i18n_plural_name %></td>
        <td align='center;'><%= chucky_bot.migrate %></td>
        <td class="table-actions">
          <%= link_to raw('<i class="fa fa-binoculars"></i>'), dev_chucky_bot_path(chucky_bot), rel: 'tooltip', data: { toggle: 'toggle', placement: 'top', 'original-title' => t('simple_form.tooltips.show')} if can? :read, chucky_bot %>
          <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_dev_chucky_bot_path(chucky_bot), rel: 'tooltip', data: { toggle: 'toggle', placement: 'top', 'original-title' => t('simple_form.tooltips.edit')} if can? :update, chucky_bot %>
          <%= link_to raw('<i class="fa fa-trash"></i>'), dev_chucky_bot_path(chucky_bot), method: :delete, rel: 'tooltip', data: { toggle: 'toggle', placement: 'top' , confirm: 'Are you sure?', 'original-title' => t('simple_form.tooltips.destroy')} if can? :destroy, chucky_bot %>
        </td>
      </tr>
      </tbody>
  <% end %>
  </table>

<%= render 'shared/pagination', locals: {target: @chucky_bots, model_index_path: dev_chucky_bots_path} %>
