<script src="//maps.google.com/maps/api/js?v=3.23&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<!-- lo puse en el assets pipline <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script> -->


<section id="widget-grid">
  <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
      <header><span class="widget-icon"><i class="fa fa-binoculars"></i></span>
        <div class="widget-toolbar">
          <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), project_path(@key_analytical), class: 'btn btn-primary' %>
          <%= link_to raw("<i class='fa fa-pencil'></i> #{t('simple_form.buttons.edit')}"), edit_project_activity_obra_path(@project_activity_obra), class: 'btn btn-primary' if can?(:update, ProjectActivityObra) %>
        </div>
      </header>
      <div>
        <!-- widget content -->
        <div class="widget-body">

          <table class="table table-striped table-hover grey-blue-table" width="100%" cellspacing="0" id="dt_basic">
            <thead><tr class="hidden"><th></th><th></th></tr></thead> <!-- el thead es necesario para que datatable no de error -->
            <tbody>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.name') %></th>
              <td>
                <%= @project_activity_obra.name %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.description') %></th>
              <td>
                <%= @project_activity_obra.description %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.calle') %></th>
              <td>
                <%= @project_activity_obra.calle %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.nro_exterior') %></th>
              <td>
                <%= @project_activity_obra.nro_exterior %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.nro_interior') %></th>
              <td>
                <%= @project_activity_obra.nro_interior %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.colonia') %></th>
              <td>
                <%= @project_activity_obra.colonia %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.codigo_postal') %></th>
              <td>
                <%= @project_activity_obra.codigo_postal %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.tipo_obra') %></th>
              <td>
                <%= @project_activity_obra.tipo_obra %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.cantidad') %></th>
              <td>
                <%= @project_activity_obra.cantidad %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.avance_programado') %></th>
              <td>
                <%= @project_activity_obra.avance_programado %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.avance_real') %></th>
              <td>
                <%= @project_activity_obra.avance_real %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.real_start_date') %></th>
              <td>
                <%= l(@project_activity_obra.real_start_date, :format => :long) if @project_activity_obra.real_start_date %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.real_end_date') %></th>
              <td>
                <%= l(@project_activity_obra.real_end_date, :format => :long) if @project_activity_obra.real_end_date %>
              </td>
            </tr>

            <tr role="row">
              <th><%= t('simple_form.labels.defaults.latitude') %></th>
              <td>
                <%= @project_activity_obra.latitude %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.longitude') %></th>
              <td>
                <%= @project_activity_obra.longitude %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>

  <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div id="wid-id-2" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
      <header><span class="widget-icon"><i class="fa fa-binoculars"></i></span>
      </header>
      <div>
        <!-- widget content -->
        <div class="widget-body">
            <div id="map" style='width: 100%; height: 460px;'></div>
        </div>
      </div>
    </div>
  </article>


  <%= render 'shared/show_financial_doc_in_project_activity', locals: {instance: @project_activity_obra, new_path: new_project_activity_obra_financial_document_path(@project_activity_obra)} %>

</section>


<script data-no-turbolink="true">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
    });
</script>
