<section id="widget-grid">
  <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
      <header><span class="widget-icon"><i class="fa fa-binoculars"></i></span>

        <div class="widget-toolbar">
          <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), ley_articulos_path, class: 'btn btn-primary' %>
          <%= link_to raw("<i class='fa fa-pencil'></i> #{t('simple_form.buttons.edit')}"), edit_ley_articulo_path(@ley_articulo), class: 'btn btn-primary' if can?(:update, LeyArticulo) %>
          <%= link_to raw("<i class='fa fa-check-square'></i> Validar Documento"), validar_documento_ley_articulo_path(@ley_articulo), class: 'btn btn-warning btn-sm', method: :put, data: {confirm: '¿Está seguro de validar este documento?. Esta operación no puede revertirse.', 'original-title': 'Validar Documento'} if(can?(:validar_documento, LeyArticulo) && @ley_articulo.validado.blank? && !@ley_articulo.file_id.blank?) %>
        </div>
      </header>
      <div>
        <!-- widget content -->
        <div class="widget-body">

          <table class="table table-striped table-hover grey-blue-table" width="100%" cellspacing="0" id="dt_basic">
            <thead>
            <tr class="hidden">
              <th></th>
              <th></th>
            </tr>
            </thead>
            <!-- el thead es necesario para que datatable no de error -->
            <tbody>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.codigo') %></th>
              <td>
                <%= @ley_articulo.codigo %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.name') %></th>
              <td>
                <%= @ley_articulo.name %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.descripcion_de_documento') %></th>
              <td>
                <%= @ley_articulo.descripcion_de_documento %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.periodo_actualizacion') %></th>
              <td>
                <%= @ley_articulo.periodo_actualizacion %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.actualizado') %></th>
              <td>
                <%= l(@ley_articulo.actualizado, :format => :long) if @ley_articulo.actualizado %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.validado') %></th>
              <td>
                <% if @ley_articulo.validado %>
                    <%= l(@ley_articulo.validado, :format => :long) %>
                <% else %>

                <% end %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.detalle') %></th>
              <td>
                <%= @ley_articulo.detalle %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.file') %></th>
              <td>
                <%= link_to @ley_articulo.file_filename, attachment_url(@ley_articulo, :file) %> <%= "(#{friendly_file_size(@ley_articulo.file_size)} #{@ley_articulo.file_content_type})" unless @ley_articulo.file_id.blank? %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>

  <%= render 'index_fraccions' %>

</section>

