<section id="widget-grid">
  <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
      <header><span class="widget-icon"><i class="fa fa-binoculars"></i></span>
        <div class="widget-toolbar">
          <%= link_to raw("<i class='fa fa-arrow-left'></i> #{t('simple_form.buttons.list')}"), project_path(@key_analytical), class: 'btn btn-primary' %>
          <%= link_to raw("<i class='fa fa-pencil'></i> #{t('simple_form.buttons.edit')}"), edit_project_activity_social_path(@project_activity_social), class: 'btn btn-primary' if can?(:update, ProjectActivitySocial) %>
        </div>
      </header>
      <div>
        <!-- widget content -->
        <div class="widget-body">

          <table class="table table-striped table-hover grey-blue-table" width="100%" cellspacing="0" id="dt_basic">
            <thead>
            <tr class="hidden">
              <th></th>
              <th></th>
            </tr>
            </thead>
            <!-- el thead es necesario para que datatable no de error -->
            <tbody>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.social_development_program') %></th>
              <td>
                <%= @project_activity_social.social_development_program.try(:name) %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.comentarios') %></th>
              <td>
                <%= @project_activity_social.comentarios %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.nro_beneficiarios') %></th>
              <td>
                <%= @project_activity_social.nro_beneficiarios %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.nro_metas_cumplidas') %></th>
              <td>
                <%= @project_activity_social.nro_metas_cumplidas %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.fecha_inicio_real') %></th>
              <td>
                <%= l(@project_activity_social.fecha_inicio_real, :format => :long) if @project_activity_social.fecha_inicio_real %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.fecha_fin_real') %></th>
              <td>
                <%= l(@project_activity_social.fecha_fin_real, :format => :long) if @project_activity_social.fecha_fin_real %>
              </td>
            </tr>
            <tr role="row">
              <th><%= t('simple_form.labels.defaults.ejercido') %></th>
              <td>
                <%= number_to_currency(@project_activity_social.ejercido, unit: '') %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </article>

  <%= render 'shared/show_financial_doc_in_project_activity', locals: {instance: @project_activity_social, new_path: new_project_activity_social_financial_document_path(@project_activity_social)} %>

  <%= render 'index_beneficiaries' %>

</section>

