<!-- MAIN PANEL -->
<div id="main" role="main">

<%= render "layouts/ribbon" %>

  <!-- MAIN CONTENT -->
  <div id="content">

    <!-- row -->
    <div class="row">
      <%= render 'shared/flash_messages' %>

      <!-- col -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark">
          <!-- PAGE HEADER -->
          <i class="<%= @content_title[:icon] %>"></i> <%= @content_title[:title].html_safe %></h1>
      </div>
      <!-- end col -->

    </div>
    <!-- end row -->

    <%= yield %>

  </div>
  <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->