<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <ul>

      <li data-step="2" data-intro="Este es el menú de administración.">
        <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Administration</span></a>
        <ul>
          <li>
            <%= link_to 'Users', users_path, {title: 'Users'}  %>
          </li>
          <li>
            <%= link_to 'Settings', '/admin/settings', {title: 'Settings'}  %>
          </li>
          <li>
            <%= link_to 'Delayed Jobs', delayed_jobs_path, {title: 'Delayed Jobs'}  %>
          </li>
        </ul>
      </li>

      <li data-step="3" data-intro="Este es el menú de desarollo.">
        <a href="#"><i class="fa fa-lg fa-fw fa-code"></i> <span class="menu-item-parent">Development</span></a>
        <ul>
          <li>
            <%= link_to 'Chucky Bots', dev_chucky_bots_path, {title: 'Chucky Bots'}  %>
          </li>
          <li data-no-turbolink>
            <%= link_to 'Chartkick', '/dev/examples/chartkick', {title: 'Chartkick'}  %>
          </li>
          <li>
            <%= link_to 'Things', things_path, {title: 'Things'}  %>
          </li>
          <li>
            <%= link_to 'Public Activity', '/public_activity', {title: 'Public Activity'}  %>
          </li>
          <li>
            <%= link_to 'Pruebas', '/welcome/prueba', {title: 'Pruebas'}  %>
          </li>

        </ul>
      </li>
      <li class="hidden-xs">
      	<a href="#"><i class="fa fa-lg fa-fw fa-question-circle"></i> <span class="menu-item-parent">Ayuda</span></a>
      	<ul>
          <li>
           <a href="#" id="start-tour">Tour guiado</a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
			<span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

</aside>
<!-- END NAVIGATION -->
<script type="text/javascript">

  var pathUrl = location.pathname.split("/")[1];
  $( 'nav ul li a' ).each(function( index, value ) {
    var href = $(this).attr('href').split("/")[1];
    if ( href === pathUrl ) {
      $(this).parent().addClass('active');
    }
  });

</script>
