<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

  <!-- User info -->
  <div class="login-info" data-step="1" data-intro="Aqui se encuentra la información del usuario. Y aqui hay más info...">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it -->
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
          <%= image_tag attachment_url(current_user, :avatar, :fill, 50, 50, fallback: "avatars/male.png"), class: 'online' %>
          <span><%= current_user.try(:name) %></span>
        </a>
    </span>
  </div>
  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <ul>

      <li data-step="1" data-intro="Este es el menú de administración.">
        <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Administration</span></a>
        <ul>
          <li>
            <%= link_to 'Users', users_path, {title: 'Users'}  %>
          </li>
          <li>
            <%= link_to 'Settings', '/admin/settings', {title: 'Settings'}  %>
          </li>
          <li>
            <%= link_to 'Delayed Jobs', delayed_jobs_path, {title: 'Delayed Jobs'}  %>
          </li>
        </ul>
      </li>

      <li data-step="2" data-intro="Este es el menú de meta clave.">
        <a href="#"><i class="fa fa-lg fa-fw fa-key"></i> <span class="menu-item-parent"><%= t('pages.navigation.key_meta') %></span></a>
        <ul>
          <li>
            <%= link_to t('activerecord.models.key_meta_category.other'), key_meta_categories_path, {title: t('activerecord.models.key_meta_category.other')}  %>
          </li>
          <li>
            <%= link_to t('activerecord.models.key_meta_subcategory.other'), key_meta_subcategories_path, {title: t('activerecord.models.key_meta_subcategory.other')}  %>
          </li>
          <li>
            <%= link_to t('activerecord.models.key_meta_title.other'), key_meta_titles_path, {title: t('activerecord.models.key_meta_title.other')}  %>
          </li>
        </ul>
      </li>

      <li data-step="2" data-intro="Este es el menú catálogos.">
        <a href="#"><i class="fa fa-lg fa-fw fa-key"></i> <span class="menu-item-parent"><%= t('pages.navigation.catalogs') %></span></a>
        <ul>
          <li>
            <a href="#"><%= t('activerecord.models.cat_der_human_right.other') %></a>
            <ul>
              <li>
                <%= link_to t('activerecord.models.cat_der_human_right.other'), cat_der_human_rights_path, {title: t('activerecord.models.cat_der_human_right.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_der_strategy.other'), cat_der_strategies_path, {title: t('activerecord.models.cat_der_strategy.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_der_line_of_action.other'), cat_der_line_of_actions_path, {title: t('activerecord.models.cat_der_line_of_action.other')}  %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Género</a>
            <ul>
              <li>
                <%= link_to t('activerecord.models.cat_gen_axi.other'), cat_gen_axis_path, {title: t('activerecord.models.cat_gen_axi.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_gen_objective.other'), cat_gen_objectives_path, {title: t('activerecord.models.cat_gen_objective.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_gen_strategy.other'), cat_gen_strategies_path, {title: t('activerecord.models.cat_gen_strategy.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_gen_goal.other'), cat_gen_goals_path, {title: t('activerecord.models.cat_gen_goal.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_gen_line_of_action.other'), cat_gen_line_of_actions_path, {title: t('activerecord.models.cat_gen_line_of_action.other')}  %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">PGDDF</a>
            <ul>
              <li>
                <%= link_to t('activerecord.models.cat_gen_axi.other'), cat_gen_axis_path, {title: t('activerecord.models.cat_gen_axi.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_pgd_area_of_opportunity.other'), cat_pgd_area_of_opportunities_path, {title: t('activerecord.models.cat_pgd_area_of_opportunity.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_pgd_objective.other'), cat_pgd_objectives_path, {title: t('activerecord.models.cat_pgd_objective.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_pgd_goal.other'), cat_pgd_goals_path, {title: t('activerecord.models.cat_pgd_goal.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_pgd_line_of_action.other'), cat_pgd_line_of_actions_path, {title: t('activerecord.models.cat_pgd_line_of_action.other')}  %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Fondo</a>
            <ul>
              <li>
                <%= link_to t('activerecord.models.cat_fon_funding_source.other'), cat_fon_funding_sources_path, {title: t('activerecord.models.cat_fon_funding_source.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_fon_generic_source.other'), cat_fon_generic_sources_path, {title: t('activerecord.models.cat_fon_generic_source.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_pgd_objective.other'), cat_pgd_objectives_path, {title: t('activerecord.models.cat_pgd_objective.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_pgd_goal.other'), cat_pgd_goals_path, {title: t('activerecord.models.cat_pgd_goal.other')}  %>
              </li>
              <li>
                <%= link_to t('activerecord.models.cat_pgd_line_of_action.other'), cat_pgd_line_of_actions_path, {title: t('activerecord.models.cat_pgd_line_of_action.other')}  %>
              </li>
            </ul>
          </li>

        </ul>
      </li>

      <li data-step="3" data-intro="Este es el menú de desarollo.">
        <a href="#"><i class="fa fa-lg fa-fw fa-code"></i> <span class="menu-item-parent">Development</span></a>
        <ul>
          <li>
            <%= link_to 'Chucky Bots', dev_chucky_bots_path, {title: 'Chucky Bots'}  %>
          </li>
          <li data-no-turbolink>
            <%= link_to 'Chartkick', '/dev/examples/chartkick', {title: 'Chartkick'}  %>
          </li>
          <li>
            <%= link_to 'Things', things_path, {title: 'Things'}  %>
          </li>
          <li>
            <%= link_to 'Public Activity', '/public_activity', {title: 'Public Activity'}  %>
          </li>
          <li>
            <%= link_to 'Pruebas', '/welcome/prueba', {title: 'Pruebas'}  %>
          </li>

        </ul>
      </li>
      <li class="hidden-xs"> 
      	<a href="#"><i class="fa fa-lg fa-fw fa-question-circle"></i> <span class="menu-item-parent">Ayuda</span></a>
      	<ul>
          <li>
           <a href="#" id="start-tour">Tour guiado</a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
			<span class="minifyme" data-action="minifyMenu">
				<i class="fa fa-arrow-circle-left hit"></i>
			</span>

</aside>
<!-- END NAVIGATION -->




